.box {
    border-style: solid;
    border-radius: 20px;
    background-color: gainsboro;
    width: 240px;
    height: 240px;
    padding: 5px;
}

.box h2, p {
    text-align: center;
}

@media (max-width: 768px) {
    .box {
        margin-bottom: 20px;
    }
}