.user-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
  }

.user-item__content {
    padding: 0;
  }

.post-content {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}

.post-title {
    display: flex;
    justify-content: center;
}

.position-right {
    display: flex;
    flex-direction: row-reverse;
}