.main-navigation__weather {
    font-weight: normal;
  }

.main-navigation__weather div {
    display: flex;
}

.main-navigation__weather p {
    margin: 0;
    color: #f2f2f2;
  }

.main-navigation__weather img {
    margin-left: 10px;
}